body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: navy;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    opacity: 0;
    animation: slideInLeft 1s forwards;
}

header p {
    color: #ddd;
    margin-left: 225px;
}


section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project {
    background: #fff;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: slideInLeft 1s forwards;
}

#about h2 {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.2s;
}

#about p {
    opacity: 0;
    animation: slideInLeft 2s forwards;
    animation-delay: 0.6s;
}

#projects {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.6s;
}

.project:nth-child(odd) {
    animation: slideInLeft 3s forwards;
}

.project:nth-child(even) {
    animation: slideInRight 2s forwards;
}

#skills h2 {
    animation: fadeIn 1s forwards;
}

#skills li {
    animation: slideInRight 3s forwards;
}

#contact {
    animation: fadeIn 1s forwards;
}

.project:nth-child(1) {
    animation-delay: 0.2s;
}

.project:nth-child(2) {
    animation-delay: 0.4s;
}

.project:nth-child(3) {
    animation-delay: 0.6s;
}

.project:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background: navy;
    color: white;
    margin-top: 20px;
}

.pic {
    width: 80px;
    height: 80px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    object-fit: cover;
}